<div class="container list-counter">
    <h2>There are <%= @shopping_lists.count %> shopping lists</h2>
</div>

<div class="container">
    <% @shopping_lists.each do |shopping_list| %>
        <div class="container list-container col-sm-10 col-md-3 col-lg-3">
            <h2><%= shopping_list.name %></h2>
            <h4><%= shopping_list.description %></h4>
            <p>List ID: <%= shopping_list.id %></p>
            <ul class="nav nav-tabs nav-justified">
                <li><%= link_to 'Show', shopping_list_path(shopping_list) %></li>
                <li><%= link_to 'Edit', edit_shopping_list_path(shopping_list) %></li>
                <li><%= link_to 'Delete', shopping_list_path(shopping_list),
                       method: :delete,
                       data: { confirm: 'Are you sure about this?' }%></li>
            </ul>
        </div>
    <% end %>
</div>